html{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
}

.cabecalho{
background-color: brown;
width: auto;
height: 200px;
}

.conteudo{
background-color: blanchedalmond;
width: auto;
height: 800px;
}

.rodape{
background-color: aqua;
width: auto;
height: 100px;
margin: 0;
    padding: 0;
   
}