body{background-Color:#00FF00;
}
h1{
    color:red;
    font-size:larger;
    font-family: 'Courier New', Courier, monospace;}

h2{background-color: white;
    color:blue;
    font-family:arial, verdana;
    font-style:italic;
    font-size:small;}

h3{
    color:greenyellow;
    background-color:blue ;
    font-size:xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;}